.app {
    background: linear-gradient(135deg, #050822, #01C38D);;
}
body {
    margin: 0;
}
p {
    color: #FFFFFF;
}
.SideBarRight {
    padding-left: 2rem;
    padding-right: 2rem;
}
.SideBarRight h2 {
    text-align: left;
}